*{
    background-color: #FBFBEF;
    font-family: "krona one", sans-serif;
}

a{    
    color: #333;
    text-decoration: none;
    border-radius: 7px;
    gap: 10px;
    padding: auto;
    font-size: medium;
}

a:hover{
    border-radius: 7px;
    gap: 5px;
    color: #A32CC2;
    animation-delay: calc(0.1s * var(--i));
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 20px 30px;
}

.logo{
    display: flex;
}

.logo img{
    width: 300px;
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
}

nav a {
    text-decoration: none;
    margin-left: 30px;
    padding: 2px;
}

button{
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;
    background-color:#A32CC2;
    color: #f7eefa;
    border-radius: 10px;
    border: none;
}

